body {
	background-color: #DDDDDD;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.gwt-TextBox {
	width: 95%;
}

.gwt-Label {
	margin-right: 10px;
}
